[Unit]
Description=Prometheus exporter for Loxone Miniserver
After=network-online.target

[Service]
Type=notify
Restart=always
RestartSec=5s
User=loxone-exporter
ExecStart=/usr/local/bin/loxone-exporter/loxone-exporter --configFile /etc/loxone-exporter/config.yml

[Install]
WantedBy=multi-user.target
